#chooseNetwork
  .segment
    padding:60px 0
    box-shadow:none
    border:none
    .container
      .grid
        .column
          .column-content
            img
              width:40%
              margin:auto
