body, #app, .ui.segment, .footer
  background-color:#f0f4f6

a
  cursor:pointer

#upload
  padding:20px 0

#input
  display:none

#seperator
  width:100%
  margin:0 0 20px 0

.ui.primary.button
  color:#fff !important

.ui.message
  margin:0 0 10px 0
  max-width:100% !important
  &:first-child
    margin:0 0 10px 0 !important
  &:last-child
    margin:0 !important

#loading
  min-width:100vw
  min-height:100vh
  height:100%
  width:100%
  background:rgba(0,0,0,.6)
  position:absolute
  top:0
  left:0
  z-index:10000
  color:white
  text-align:center
  .spinner
    position:absolute
    top:50%
    left:50%
    font-weight:700
    letter-spacing:1px
    font-size:2em
    transform:translate(-50%,-50%)

.header
  padding:0
  margin:0 !important
  h1
    font-size:42px

.ui.segment
  border:none
  box-shadow:none
  padding:40px 0 0 0

.ui.grid
  margin-top:20px
  .column
    max-width: 100%
    .column-content
      cursor:pointer
      background:white
      border-radius:4px
      border:solid 1px #edf0f3
      width:90%
      height:200px
      display:flex
      align-items:center
      margin:auto
      transition:400ms ease
      box-shadow: 0 6px 30px 0 #edf0f3
      .header
        margin:auto !important
      &.disabled
        cursor-event:none
        opacity:.5
        &:hover
          transform:none
      &:hover
        // background-color:#edf0f3
        // transform:scale(1.05)
        transform:translateY(-10px)


@import './partials/chooseNetwork'
